body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занимает всю высоту экрана */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease;
}


nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #ffcc00;
    text-decoration: underline;
}


main {
    padding: 20px;
    background: white;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.burger-menu{
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#text {
    transition: opacity 0.3s ease-in-out;
}

.completed{
    text-decoration: line-through;
    color: grey;
}

@media (max-width: 768px){
    nav ul{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
    }
    body{
        background-color: lightblue;
        font-size: 14px;
    }
    header{
        padding: 10px;
        text-align: center;
    }
    main{
        width: 100%;
        padding: 15px;
    }
    .burger-menu{
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    nav{
        display: none;
        flex-direction: column;
        background: #333;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px;
    transition: all 0.3s ease;

    }
    nav.active{
        display: flex;
    }
}

@media(max-width: 1024px){
    main{
        width:90%;
    }
}

@media(max-width: 480px){
    h1{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
}